@{
    Layout = "_LayoutLogin";
}

@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}

@if (TempData["MsgErro"] != null)
{
    <div class="alert-success">
        @TempData["MsgErro"]
    </div>
}

@model Usuario

<form class="row g-3" asp-controller="Login" asp-action="ValidaUsuario">
    <div class="col-md-12">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="inputEmail">
    </div>

    <div class="col-md-12">
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="inputPassword">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Entrar</button>
        <a class="btn btn-primary" role="button" asp-controller="Login" asp-action="Cadastro">Cadastre-se</a>
    </div>
</form>