body {
    background-color: ghostwhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family Arial;
}


.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
        background-color: #0b5ed7;
        border-color: #0a58ca;

}